@*@model IEnumerable<BookStack_Models.Product>*@
@using BookStack_DataAccess.Authorization


	  <div class="col-lg-3 col-md-4">
	   <form asp-controller="Home" asp-action="Index" class="p-2 m-2">
            Category: <select asp-items="@ViewBag.CategoryList" name="Category"></select>
            <input type="submit" value="Search"  />
        </form>
		 </div>
		<div class="row pb-3">

	@foreach(var product in ViewBag.productList)
	{
		<div class="col-lg-3 col-md-6">
			<div class="row p-2">
				<div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
					<div class="card">
						<img src="@product.ImageUrl" class="card-img-top rounded"/>

						<div class="card-body">
						<div class="pl-1">
							<p class="card-title h5 text-primary">@product.Name</p>
							
						</div>
						 @if (User.IsInRole(Constants.ClientRole)||User.IsInRole(Constants.AdministratorRole)){
						<div class="pl-1">
							<p> Price: <b>$@product.Price.ToString("0.00")</b></p>
						</div>
						 }
						</div>
					</div>
					<div>
						<a asp-action="Details" class="btn btn-primary form-control" asp-route-productId="@product.Id">
							Details
						</a>
					</div>
					 @if (User.IsInRole(Constants.ClientRole)||User.IsInRole(Constants.AdministratorRole)){
					<div>
						<a asp-controller="Cart" asp-action="Add" class="btn btn-primary form-control" asp-route-productId="@product.Id">
							Add to Cart
						</a>
					</div>
					 }
				</div> 
			</div>
		</div>
	}
	</div>
